.navbar {
  background-color: #0078C2;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar-menu li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}